body {
  font-family: "Sono", sans-serif;
  width: 100%;
  display: grid;
  justify-content: center;
}

.header_logo {
  display: grid;
  justify-content: center;
  padding-top: 2em;
}

.header_subtitle {
  font-size: small;
  display: grid;
  justify-content: center;
  padding-top: 10px;
}

.nav_links {
  display: flex;
  justify-content: center;
}

.navlinks {
  padding-inline: 2em;
}

.col_ilus,
.col_textil,
.col_figuras {
  position: relative;
  display: inline-block;
}

.sup_ilus,
.sup_tex,
.sup_fig {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  transition: visibility 10s, opacity 0.5s ease;
}

.col_ilus:hover .sup_ilus {
  visibility: hidden;
  opacity: 0.5;
}
.col_textil:hover .sup_tex {
  visibility: hidden;
  opacity: 0.5;
}
.col_figuras:hover .sup_fig {
  visibility: hidden;
  opacity: 0.5;
}

/*Bio*/
.bio {
  width: 700px;
  display: grid;
}

.bio_img,
.bio_text {
  font-size: small;
}

.bio_text {
  padding-top: 1em;
}

.container {
  width: 70%;
  padding-top: 2em;
}

/*Talleres*/

.div_talleres {
  font-size: small;
}

.list-group-item {
  background-color: aqua;
}

/*Footer*/
footer {
  font-size: x-small;
  display: flex;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
}
